$appBg: #f2f2f2;
$md: 968px;
$lg: 1200px;

:root {
  --white-color: #ffffff;
  --danger-color: #ca0b00;
  --success-color: #016401;
  --warning-color: #f0d500;
  --page-max-width: 1200px;
  --prod-level-width: 12px;
  --primary-color: #e9c46a;
}

* {
  outline: none;
  font-family: "Ubuntu", "sans-serif" !important;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: $appBg;
}

.prod-level-bar {
  background: white;
  width: 100%;
  border: 1px solid #eee;
  display: flex;
  flex-direction: row-reverse;
}

.prod-level-bar__part {
  height: 100%;
  background: var(--white-color);
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  background: $appBg;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--page-max-width);
  box-sizing: border-box;
  border-color: #eee;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 0;
  border-bottom-width: 0;
  background: #ffffff;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 20px;
}

.page::-webkit-scrollbar {
  display: hidden;
  width: 0;
}

@media screen and (max-width: 1200px) {
  .page {
    width: 100%;
    border: none;
  }
}

.pv-2 {
  padding: 8px 0;
}

.pv-8 {
  padding: 16px 0;
}

.ph-2 {
  padding-left: 4px;
  padding-right: 4px;
}

.pv-16 {
  padding: 32px 0;
}

.pv-10 {
  padding: 20px 0;
}

.mb-1 {
  margin-bottom: 2px;
}

.mt-1 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 8px;
}

.mr-4 {
  margin-right: 8px;
}

.mr-8 {
  margin-right: 16px;
}

.mb-4 {
  margin-bottom: 8px !important;
}

.mb-8 {
  margin-bottom: 16px !important;
}

.mb-2 {
  margin-bottom: 4px;
}

.mh-8 {
  margin-right: 16px;
  margin-left: 16px;
}

.df {
  display: flex;
}

.fsb {
  justify-content: space-between;
}

.f-100 {
  flex: 1 1 100%;
}

.fcv {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.fc {
  align-items: center;
  justify-content: center;
}

.frr {
  flex-direction: row-reverse;
}

.editor {
}

.editor textarea.editor-textarea {
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.ml-4 {
  margin-left: 8px;
}

.fdc {
  flex-direction: column;
}

.f-sauto {
  flex: 0 0 auto;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

@media screen and (min-width: $lg) {
  .lg-w-half {
    width: 50%;
  }
}

.app-loader {
  width: 100%;
  height: 100%;
  background: $appBg;
  display: flex;
  justify-content: center;
  align-items: center;
}
